
@model List<StarFarm.Models.Product>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/animate.css" rel="stylesheet" />
<link href="~/Content/css/products.css" rel="stylesheet" />


<main>

    <div class="container my-3">
        <div class="container">
            <ul class="breadcrumb " style="--bs-breadcrumb-divider:'>';">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none link-dark" href="@Url.Action("Index", new { controller = "Home"})">
                        <i class="fas fa-home"></i>Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-decoration-none link-dark" href="@Url.Action("Index", new { controller = "Products"})">
                        Products
                    </a>
                </li>
                <li class="breadcrumb-item active">

                </li>

            </ul>
        </div>
    </div>

    <div class="container my-3 row">
        <section id="sidebar" class="col-2">
            <div class="py-3">
                <h4 class="font-weight-bold categories">Categories</h4>
                <ul class="list-group">
                    <li class="list-group-item category  "><a href="@Url.Action("Index", new { controller = "Products", id = ""})">ALL</a>   </li>
                    @foreach (var cate in ViewBag.Categories)
                    {
                        <li class="list-group-item  category"><a href="@Url.Action("Index", new { controller = "Products", id = cate.Category_Id })">@cate.Category_Name</a>   </li>
                    }


                </ul>
            </div>
        </section>

        <section class="wrapper  listproduct col-8">
            <div id="products" class="row row-cols-1 row-cols-md-3 g-6">
                @foreach (var prod in Model)
                {
                    <div class="col-4  ">
                        <div class="card">
                            <a href="@Url.Action("ProductDetail", new { controller = "Products", id = prod.Product_Id })">
                               
                                <img class="card-img-top" id="imageToCart" src="@prod.Image">
                            </a>
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1 recommendedcard" title="@prod.Product_Name">@prod.Product_Name</h6>
                                <div class="d-flex align-items-center product">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="col-4">
                                        <div class="h5 font-weight-bold cardPrice">$@prod.Price</div>
                                    </div>
                                    <div class="col-8"><a href="@Url.Action("AddToCart", new { controller = "Cart", id =prod.Product_Id })" type="button" class="btn modalToAddCard" id="@prod.Product_Id"> Add to cart </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>


    </div>
</main>
