@model StarFarm.Models.ContactU
@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/Content/CSS/contacus.css" />
<main>
    <div class="container  my-3">
        <span class="big-circle"></span>
        <img src="~/Content/images/shape.png" class="square" alt="" />
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <p class="text">
                    Star Organic farm is commenced in the year 1988. Company is involved in trading
                    and manufacturing a wide range of Organic Products and spices to the consumers all
                    around the global market. Company has wide variety of collection of products lies of
                    Nutritious cereals, Pulses, Spices and Condiments, Cooking Oils, Fruit Pulps,
                    Agro Products, Oils, Wheat and Wheat Flour, Rice and Rice products and so
                    on.
                </p>
                <div class="info">
                    <div class="information">
                        <img src="~/Content/images/location.png" class="icon" alt="" />
                        <p>6 Lê Lợi, Vĩnh Ninh, Thành phố Huế, Thừa Thiên Huế, Việt Nam</p>
                    </div>
                    <div class="information">
                        <img src="~/Content/images/email.png" class="icon" alt="" />
                        <p> starorganicvnpro@gmail.com</p>
                    </div>
                    <div class="information">
                        <img src="~/Content/images/phone.png" class="icon" alt="" />
                        <p>+84 234.91000</p>
                    </div>
                </div>
                <div class="social-media">
                    <p>Connect with us :</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/?lang=vi">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <h3 class="title">Contact us</h3>
                    <div class="input-container">
                        @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container textarea">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Send" class="btn" />
                }
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/popper.min.js"></script>
<script type="text/javascript" src="~/Scripts/kit.fontawesome.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/wow.min.js"></script>


